= turbo_include_tags
%h1 Listing questions

%table
  %thead
    %tr
      %th Text
      %th Topic
      %th Sort index
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.text
        %td= link_to question.topic.label, question.topic
        %td= question.sort_index
        %td= link_to 'Show', question
        %td= link_to 'Edit', edit_question_path(question)
        %td= link_to 'Destroy', question, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

%br

= link_to 'New Question', new_question_path
