%p
  %b Text:
  = @question.text
.options
  %p
    %b Options:
  %ol
    - @question.options.order(sort_index: :asc).each do |option|
      %li= option.text

%p
  %b Topic:
  = link_to @question.topic.label, @question.topic
%p
  %b Sort index:
  = @question.sort_index

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
