= form_for @option do |f|
  - if @option.errors.any?
    #error_explanation
      %h2= "#{pluralize(@option.errors.count, "error")} prohibited this option from being saved:"
      %ul
        - @option.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :sort_index
    = f.number_field :sort_index
  .actions
    = f.submit 'Save'
