= turbo_include_tags
%h1 Listing options

%table
  %thead
    %tr
      %th Text
      %th Sort index
      %th
      %th
      %th

  %tbody
    - @options.each do |option|
      %tr
        %td= option.text
        %td= option.sort_index
        %td= link_to 'Show', option
        %td= link_to 'Edit', edit_option_path(option)
        %td= link_to 'Destroy', option, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

%br

= link_to 'New Option', new_option_path
