= turbo_include_tags
%h1 Listing customers

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.name
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Delete', customer, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

%br

= link_to 'New Customer', new_customer_path
