%p
  %b Name:
  = @survey.name

%p
  %b Customer:
  = link_to @survey.customer.name, @survey.customer

%p
  %b Topic:
  = link_to @survey.topic.label, @survey.topic

= link_to 'Edit', edit_survey_path(@survey)
\|
= link_to 'Back', surveys_path
